PORT=3000
MONGODB_USER=kullanici_adini_buraya_yaz
MONGODB_PASSWORD=sifreni_buraya_yaz
MONGODB_URL=cluster_adresini_buraya_yaz
MONGODB_DB=veritabani_adini_buraya_yaz

# E-posta ve JWT Ayarları
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=senin_brevo_mailin@example.com
SMTP_PASSWORD=brevo_smtp_sifren
SMTP_FROM=senin_brevo_mailin@example.com
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000

# Cloudinary Ayarları
CLOUDINARY_CLOUD_NAME=senin_cloud_name_in
CLOUDINARY_API_KEY=senin_api_key_in
CLOUDINARY_API_SECRET=senin_api_secret_in